<!DOCTYPE html>
<!-- initialise html file -->

<html>

<head>
        <title>About</title>

    <link rel="icon" href="/img/weather.png">


    <link rel="stylesheet" href="./css/styles.css">


</head>

<body>
    <div class="main-content">
          {{>header}}
    <!-- inserting an image -->
    {{!-- adding a class to be able to modify just this img in the css file --}}
    <p>This site was Created by FK. It uses data from mapbox.com and darksky.net</p>
    <img class="portrait" src="/img/rob.jpeg">
    </div>
  
{{>footer}}                 
</body>




</html>

